<!--ログインしているユーザーの情報一覧-->
<h1>User info</h1>
<div>
  <%= attachment_image_tag current_user, :profile_image%>
  <p>name :<%= current_user.name %></p>
  <p>introduction :<%= current_user.introduction %></p>
</div>
<%= link_to "edit" ,edit_user_path(current_user.id) %>

<!--投稿の新規作成-->
<h1>New book</h1>
<div>
  <%= form_with model:@book, local:true do |f|%>
    <p>title</p>
    <%= f.text_field :title,autofocus:true %>
    <p>body</p>
    <%= f.text_field :body ,autofocus:true %>
    <%= f.submit "create" %>
  <% end %>
</div>

<!--投稿一覧の表示-->
<h1>Books</h1>
<div>
  <% @books.each do |book| %>
    <p><%= attachment_image_tag book.user, :profile_image %></p>
    <p>user: <%= book.user.name %></p>
    <p><%= link_to book.title , book_path(book) %></p>
    <p>body：<%= book.body %></p>
  <% end %>
</div>